@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black;
    @apply text-white;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}